$accent-color: red;

.about-section {
  padding-top: 10rem;
  background: linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.85) 100%);
  p {
    margin-bottom: 5rem;
  }
}

.gallerey-section {
  padding: 10rem 0;
  .featured-text {
    padding: 2rem;
  }
  .project-text {
    padding: 3rem;
    font-size: 90%;
  }
  img {
    height: 600px;
    object-fit: cover
  }
}

@media (min-width: 992px) {
  .gallerey-section {
    .featured-text {
      padding: 0 0 0 2rem;
      border-left: 0.5rem solid $accent-color;
    }
    .project-text {
      padding: 5rem;
      hr {
        border-color: $accent-color;
        border-width: 0.25rem;
        width: 30%;
      }
    }
  }
}

.signup-section {
  padding: 10rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, #000 100%),
  url("img/11.png") no-repeat center scroll;
  background-size: cover;
  .form-signup {
    input {
      box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
      padding: 1.25rem 2rem;
      height: auto;
      font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 80%;
      text-transform: uppercase;
      letter-spacing: 0.15rem;
      border: 0;
    }
  }
}

.contact-section {
  padding-top: 5rem;
  .card {
    border: 0;
    border-bottom: 0.25rem solid $accent-color;
    h4, .h4 {
      font-size: 0.8rem;
      font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      text-transform: uppercase;
      letter-spacing: 0.15rem;
    }
    hr {
      border-color: $accent-color;
      border-width: 0.25rem;
      width: 3rem;
    }
  }
  .social {
    margin-top: 5rem;
    a {
      text-align: center;
      height: 3rem;
      width: 3rem;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 100%;
      line-height: 3rem;
      color: rgba(255, 255, 255, 0.3);
    }
    a:hover {
      color: rgba(255, 255, 255, 0.5);
    }
    a:active {
      color: #fff;
    }
  }
}